

  #footer {
    background: #4e5f47 !important;
    position:absolute;
   bottom:0;
   width:87.5%;


  }

  #footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
  }


  .container{
    display: flex;
    flex-direction: column;
  }



  @media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
    }
  }
