
  /* section {
    padding-top: 27px 0;
  } */

  #footer {
    background: #4e5f479d !important;
    z-index: 1; /* Stay on top */
   /* margin-bottom: 0% !important;
   flex-shrink: 0; */
   position: relative;
    margin-top: 6.5rem;

  }

  #footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
  }


  .container{
    display: flex;
    flex-direction: column;
    /* height: 100vh; */
  }

  /* .content {
    background: gray;
    flex: 1 0 auto;
  } */

  .footer {
    /* background: blue; */
    /* height: 30px; */
  }


  @media (max-width:767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        /* margin-bottom: 10px; */
    }
  }
